APP_ENV=local
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost/admin-simplo/
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=47487c964c4369681
MAIL_PASSWORD=d490c76e0b4236
MAIL_ENCRYPTION=null
MAIL_ADDRESS=test@simplo.cz
MAIL_NAME="Testovací mail"

DEFAULT_THEME=default
